<header class="main-nav">
	<nav class="left-nav">
		<ul>
			<li id="sections-sidebar-btn">
				<button  class="transparent-btn">
					<i class="fa fa-bars"></i>
					<span>sections</span>
				</button>
			</li>
			<li id="search-modal-btn">
				<button class="transparent-btn">
					<i class="fa fa-search"></i>
					<span>search</span>
				</button>
			</li>
		</ul>
	</nav>

	<nav class="right-nav">
		<ul>
			<li>
				<button class="blue-btn">
					<span>subscribe now</span>
				</button>
			</li>
			<li>
				<button class="blue-btn">
					<span>log in</span>
				</button>
			</li>
			<li>
				<button class="transparent-btn">
					<i class="fa fa-cog"></i>
				</button>
			</li>
		</ul>

	</nav>
</header>
