div, h1, h2, h3, ul, li, p, button, form {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  border-style: none;
  background-color: inherit;
}

body {
  background-color: #66CDAA;
}

ol, ul {
  list-style-type: none;
}

.delete-btn:hover {
  cursor: pointer;
}

input {
  margin: 20px;
}

button, .submit-btn {
  color: white;
  padding: 4px 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #778899;
}

input[type=text], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    height: 100px;
}
