.todo-list-item-title.done {
  text-decoration: line-through;
}

.todo-list-item-body.done {
  display: none;
}

.todo-list-item-title:hover, .delete-btn:hover {
  cursor: pointer;
}

.todo-list-item, .todo-form {
  margin: 20px auto;
}

.delete-btn {
  color: #D3D3D3;
  padding: 4px 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #CD5C5C;
}

.todo-list-item {
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #D3D3D3;
}
