body {
  background-color: #66CDAA;
}

.todo-list-item-title.done {
  text-decoration: line-through;
}

.todo-list-item-body.done {
  display: none;
}

.todo-list-item-title:hover, .delete-btn:hover {
  cursor: pointer;
}

.todo-list-item, .todo-form {
  background-color: #FAF0E6;
  margin: 20px auto;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #D3D3D3;
}

input {
  margin: 20px;
}

button, .submit-btn {
  color: white;
  padding: 4px 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #778899;
}
