ul.steps-list {
  list-style-type: disc;
  margin: auto 30px;
}

.steps-list.done {
  display:none;
}

.step-list-item-body.done {
  display: none;
}

.step-list-item-title:hover {
  cursor: pointer;
}
