.todo-list-item-title.done {
  text-decoration: line-through;
}

.todo-list-item-body {
  font-style: italic;
}

.todo-list-item-body.done {
  display: none;
}

.todo-list-item-title:hover {
  cursor: pointer;
}

.todo-list-item, .todo-form {
  background-color: #FAF0E6;
  margin: 20px auto;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #D3D3D3;
}

.todo-form {
  background-color: #D3D3D3;
  width: 50%;
  height: 50%;
}

input[type=text], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    height: 100px;
}
