html, body, h1, h2, h3, table, tr, td, aside, footer, header, nav, section{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1.5;
  margin: 0 200px 0 200px;
}

ol, ul {
}

p{
  text-align: justify;
  margin: 12px 0;
}

p.caption{
  margin-top: 2px;
  margin-bottom: 12px;
  font-style: italic;
  text-align: center;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid black;
  margin: 10px 0;
}

table{
  border-top-style: double;
  border-bottom-style: double;
}

td{
  border: 1px solid black;
  text-align: center;
}

.colorstrip {
  height: 60px;
  background-color: black;
  margin: 0 -200px 20px -200px;
  color: white;
  vertical-align: bottom;
  border: 1px solid transparent;
}

p.colorstrip{
  margin-left: 200px;
  margin-top: 20px;
  background-color: transparent;
}

.colorstrip:hover{
  font-style: underline;
  color: white;
}

body {
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  margin: 25px 0 5px 0;
}

h2 {
  font-size: 22px;
  font-weight: bold;
}

p.by-line {
  font-size: 16px;
  font-weight: bold;
  margin:0;
}

.button:hover{
  background: #990101;
  color: white;
  cursor: pointer;
}

.red-header-line{
  height: 2px;
  background: #990101;
}

.white-header-line{
  height: 2px;
  background: white;
}

.black-footer-line{
  height: 2px;
  background: black;
  margin-top: 10px;
}

.logo{
  margin: 30px 0 5px 0;
}

.twitter-button{
  background: #00aced;
  color: white;
  cursor: pointer;
  margin-top: 10px;

}

.facebook-button{
  background: #3b5998;
  color: white;
  cursor: pointer;
  margin-top: 10px;

}
