<h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>

<h2>Sign In</h2>

<form action="<%= session_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label>username
    <input type="text" name="user[username]" value="<%= @user.username  if @user%>">
  </label>

  <label>password
    <input type="password" name="user[password]" value="">
  </label>

  <input type="submit" name="" value="Sign In">
</form>
