.tile {
  width: 30px;
  height: 30px;
  border: 1px solid gray;
  margin: 0;
  text-align: center;
}

.row {
  float: left;
}

.explored {
  border-style: inset;
  background-color: #D8D8D8;
}

.flagged {
  color: red;
}

.unexplored {
  border-style: outset;
  background-color: #B0B0B0;
}

.board {
  text-align: center;
}

.main {
  position: fixed;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%);
}

h1, p {
  margin: 20px auto;
  text-align: center;
}
