// Use the gear_dropdown.png screenshot as a style guide

.gear-dropdown {
  position: absolute;
  top: 50px;
  right: 110px;
  border-radius: 3px;
  background-color: white;
  flex-direction: column;
  width: 120px;
  padding: 10px;
}

.gear-dropdown > li {
  position: relative;
}

.gear-dropdown > li > ul {
  display: block;
  flex-direction: column;
  font-weight: normal;
  font-size: 10px;
  justify-content: left;
  border-top: 1px solid $light-gray;
  padding-top: 3px;
}

.gear-dropdown > li > ul > li{
  padding: 3px 25px 3px 10px;
  align-items: center;
}

.editions li:hover{
  background-color: $light-gray;
  border-radius: 2.5px;
}

.help li:hover{
  text-decoration: underline;
}

.dropdown-subtitle {
  font-family: $sans-serif;
  font-size: 10px;
  font-weight: bolder;
  cursor: auto;
  padding: 3px 25px 3px 10px;

}

.editions {
  margin-bottom: 25px;
}
