.masthead {
	border-bottom: 2px solid black;
	position: relative;
}

nav.language-nav {
	position: absolute;
	top: -15px;
	left: calc(50% - (177.78px/2));
	background: white;
	border: 1px solid $light-gray;
	border-bottom: none;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.language-nav a {
	margin: 0 5px;
	text-transform: uppercase;
	font-family: $sans-serif;
	font-size: 10px;
	color: $dark-gray;
}

.language-nav ul {
	display: flex;
	align-items: center;
}

.gray-line {
	height: 1px;
	background-color: $light-gray;
	z-index:-1;
	margin-top: -16.5px;
}

.masthead-links ul {
	display: flex;
	justify-content: space-between;
}

.logo img {
	max-width: 600px;
	margin-top: 25px;
}

.logo {
	margin: 10px auto 10px auto;
	display: block;
}

.masthead-links {
	display: flex;
	justify-content: center;
	font-family: $sans-serif;
	font-size: 11px;
}


.masthead-links button {
	background: none;
	padding: 0px;
	color: #000;
	font-weight: normal;
	border: none;
}

.masthead-links li {
	border-right: 1px solid $light-gray;
	margin-right: 10px;
}

.masthead-links li:last-of-type {
	border-right: 0;
}

.masthead-links li:hover {
	text-decoration:underline;
	cursor: pointer;
}

.language-nav li:hover {
	text-decoration:underline;
	cursor: pointer;
}

.masthead-links a,
.masthead-links button,
.masthead-links time {
	margin-right: 10px;
}

.masthead-links i {
	margin-right: 5px;
}

.masthead-links strong {
	color: green;
}
